Django>=1.4.2
south>=0.7.6
django-mptt>=0.5.5
django-reversion>=1.6.5
django-model-utils>=1.1.0
sorl-thumbnail>=11.12
django-extensions>=1.0.2
django-widget-tweaks>=1.1.2
johnny-cache>=1.4
git+git://github.com/yourcelf/django-jimmypage.git#egg=django-jimmypage